## Header Files

In [2]:
import numpy as np
import pandas as pd
from __future__ import division
import webbrowser as wb

%matplotlib inline
import matplotlib.pyplot as plt
from pandas import Series, DataFrame
from numpy.random import randn

### Section 3: Learning NumPy

### Lec 7: Creating Arrays

In [ ]:
my_list1 = range(1,5)

In [ ]:
my_array1 = np.array(my_list1)

In [ ]:
my_list2 = range(11,55,11)

In [ ]:
my_lists = [my_list1, my_list2]
my_array2 = np.array(my_lists)

In [ ]:
my_array2

In [ ]:
print("Shape of Array: "+str(my_array2.shape)+
      "\n"+"Data Type: "+str(my_array2.dtype)
     )

In [ ]:
my_zero = np.zeros(5) ##Creation of an one dimensional array 1X5 One row and Five columns

In [ ]:
print("Data Type: "+str(my_zero.dtype))

In [ ]:
np.ones([5,5]) ##Create a 5X5 array

In [ ]:
np.empty(5) ##np.empty([5]) produces same results

In [ ]:
np.eye(5)

In [ ]:
np.arange(5)

In [ ]:
np.arange(5,50,2) ## Creates a list of numbers from 5 to 50 incremented by 2

### Lec 8: Arrays & Scalars

In [ ]:
arr1 = np.array([[1,2,3,4],[8,9,10,11]])
arr1

In [ ]:
arr1*arr1

In [ ]:
arr1-arr1

In [ ]:
1/arr1

In [ ]:
arr1**3

### Lec 9: Indexing Arrays

In [ ]:
arr = np.arange(0,11)
arr

In [ ]:
arr[8]

In [ ]:
arr[0:5]

In [ ]:
arr[:5]

In [ ]:
arr[5:]

In [ ]:
arr[0:5] = 100

In [ ]:
arr

In [ ]:
slice_of_arr = arr[0:6]
slice_of_arr

In [ ]:
slice_of_arr[:] = 99
slice_of_arr

In [ ]:
arr

In [ ]:
arr_copy = arr.copy()
arr_copy

In [ ]:
arr_2d = np.array(([5,10,15], [20,25,30],[35,40,45]))
arr_2d

In [ ]:
arr_2d[:2,1:]

In [ ]:
arr_2d = np.zeros([10,10])
arr_2d

In [ ]:
arr_length = arr_2d.shape[1]
arr_length

In [ ]:
for  i in range(arr_length):
    arr_2d[i] = 1

In [ ]:
arr_2d

### Lec 10: Array Transposition

In [ ]:
arr = np.arange(50)

In [ ]:
arr.reshape(2,5,5)

In [ ]:
arr = arr.reshape(10,5)
arr

In [ ]:
arrTransp = arr.T #Transpose of array Convert rows to columns and columns to rows

In [ ]:
arr = np.array([[1,2,3]])

In [ ]:
arr.swapaxes(0,1)

### Lec 11: Universal Array Function

In [ ]:
arr = np.arange(11)

In [ ]:
np.sqrt(arr) ##Extracting square root of each value for a given array arr

In [ ]:
np.exp(arr) ##Raising to exponential value for each value for a given array arr

In [ ]:
A = np.random.randn(10)

In [ ]:
A

In [ ]:
B = np.random.randn(10)
B

In [ ]:
np.add(A,B) ## Addition of a matrix

In [ ]:
np.maximum(A,B) ## Extracting a maximum value ## It chooses the maximum value between two arrays for a given index

In [ ]:
website = 'https://docs.scipy.org/doc/numpy/reference/ufuncs.html#available-ufuncs'
wb.open(website)

In [ ]:
points = np.arange(-5,5,0.01)

In [ ]:
dx,dy = np.meshgrid(points, points)

In [ ]:
z = (np.sin(dx) + np.sin(dy))
z

In [ ]:
plt.imshow(z)

In [ ]:
plt.imshow(z)
plt.colorbar()
plt.title("Plot for sin(x) + sin(y)")

In [ ]:
#numpy where
A  = np.array(range(1,5))
B = np.array(range(100,500,100))

In [ ]:
condition = np.array([True,True,False,False])

In [ ]:
answer = [(A_val if cond else B_val) for A_val, B_val, cond in zip(A,B,condition)]

In [ ]:
answer2 = np.where(condition, A, B)

In [ ]:
arr = np.random.randn(5,5)
arr

In [ ]:
np.where(arr<0,0,arr)

In [ ]:
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])
arr

In [ ]:
arr.sum()

In [ ]:
arr.sum(0)

In [ ]:
arr.mean()

In [ ]:
arr.mean(0)

In [ ]:
bool_arr = np.array([True, False, True])

In [ ]:
bool_arr.any()

In [ ]:
bool_arr.all()

In [ ]:
arr = np.random.randn(5)
arr

In [ ]:
arr.sort()
arr

In [ ]:
countries = np.array(['France','Germany','USA','Russia','USA','Mexico','Germany'])

In [ ]:
np.unique(countries)

In [ ]:
np.in1d(['France','USA','Sweden'],countries) ## check if given value exists

### Lec 13: Array Input and Output

In [ ]:
arr = np.arange(5)
arr

In [ ]:
np.save('myarray',arr)

In [ ]:
arr2 = np.arange(10)
arr2

In [ ]:
np.load('myarray.npy')

In [ ]:
np.savez('ziparray.npz',x=arr1, y=arr2)

In [ ]:
archive_array = np.load('ziparray.npz')

In [ ]:
archive_array['x']

In [ ]:
archive_array['y']

### Section 4: Intro to Pandas  11 lectures

### Lec 14: Series

In [ ]:
obj = Series(range(3,15,3))

In [ ]:
obj.values

In [ ]:
obj.index

In [ ]:
ww2_cas = Series([8700000, 4300000, 3000000, 2100000, 4000000], index = ['USSR','Germany','China', 'Japan', 'USA'])
ww2_cas

In [ ]:
ww2_cas['USA']

In [ ]:
# Check with countriesgreater than 4 million
ww2_cas[ww2_cas >  4000000]

In [ ]:
# Convert to dictionary
ww2_dict = ww2_cas.to_dict()
ww2_dict

In [ ]:
ww2_Series = Series(ww2_dict)
ww2_Series

In [ ]:
countries = ['USSR','Germany','China', 'Japan', 'USA', 'Argentina']
obj2 = Series(ww2_dict, index = countries)
obj2

In [ ]:
pd.isnull(obj2)

In [ ]:
pd.notnull(obj2)

In [ ]:
ww2_Series

In [ ]:
obj2

In [ ]:
ww2_Series + obj2

In [ ]:
obj2.name = "World War 2 Casualties"
obj2

### Lec 15: DataFrames

In [ ]:
website = 'https://en.wikipedia.org/wiki/NFL_win-loss_records'
wb.open(website)

In [ ]:
nfl_frame = pd.read_clipboard()

In [ ]:
nfl_frame

In [ ]:
nfl_frame.columns

In [ ]:
nfl_frame['First NFL Season']

In [ ]:
DataFrame(nfl_frame, columns = ['Team','First NFL Season', 'Division'])

In [ ]:
nfl_frame.ix[3]

In [ ]:
nfl_frame.loc[3]

In [ ]:
nfl_frame.iloc[3]

In [ ]:
nfl_frame['Stadium'] = np.arange(len(nfl_frame))

In [ ]:
nfl_frame

In [ ]:
stadiums = Series(["Levis Stadium","AT&T Stadium"], index = [4,0])

In [ ]:
stadiums

In [ ]:
nfl_frame['Stadium'] = stadiums

In [ ]:
nfl_frame

In [ ]:
data = {'City':['SF','LA','NYC'], 'Population':[8370000, 3880000, 8400000]}

In [ ]:
city_frame = DataFrame(data)

### Lec 16: Index Objects

In [ ]:
my_ser = Series([1,2,3,4],index =['A','B','C','D'])
my_ser

In [ ]:
my_index = my_ser.index
my_index

### Lec 17: Reindex

In [ ]:
ser1 =  Series([1,2,3,4],index =['A','B','C','D'])
ser1

In [ ]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

In [ ]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value = 0)

In [ ]:
ser3 = Series(['USA','Mexico','Canada'], index = [0,5,10])
ser3

In [ ]:
ranger = range(15)
ranger

In [ ]:
ser3.reindex(ranger, method = 'ffill')

In [ ]:
dframe = DataFrame(randn(25).reshape(5,5), index = ['A','B','D','E','F'], columns = ['col','col2','col3','col4','col5'])

In [ ]:
dframe

In [ ]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [ ]:
dframe2

In [ ]:
new_columns = ['col','col2','col3','col4','col5','col6']

In [ ]:
dframe2 = dframe.reindex(columns = new_columns)
dframe2

In [ ]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

In [ ]:
dframe.loc[['A','B','C','D','E','F'],new_columns]

### Lec 18: Drop Entry

In [ ]:
ser1 = Series(np.arange(3), index=['a','b','c'])

In [ ]:
ser1

In [ ]:
ser1.drop('b')

In [ ]:
dframe1 = DataFrame(np.arange(9).reshape(3,3), index = ['SF','LA','NY'], columns = ['pop','size','year'])
dframe1

In [ ]:
dframe1.drop('year', axis=1)

### Lec 19: Selecting Entries

In [ ]:
ser1 = Series(np.arange(3), index=['A','B','C'])
ser1 = 2*ser1

In [ ]:
ser1

In [ ]:
ser1['B']

In [ ]:
ser1[1]

In [ ]:
ser1[0:3]

In [ ]:
ser1[['A','B']]

In [ ]:
ser1[ser1>3]

In [ ]:
dframe1 = DataFrame(np.arange(25).reshape(5,5), index = ['NYC','LA','SF','DC','Chi'], columns = ['A','B','C','D','E'])
dframe1

### Lec 19: Data Alignment

In [3]:
ser1 = Series([0,1,2], index = ['A','B','C'])

In [6]:
ser2 = Series([3,4,5,6], index = ['A','B','C','D'])
ser2

A    3
B    4
C    5
D    6
dtype: int64

In [7]:
ser1 + ser2

A    3.0
B    5.0
C    7.0
D    NaN
dtype: float64

In [9]:
dframe1 = DataFrame(np.arange(4).reshape((2,2)),columns = list('AB'), index = ['NYC','LA'])

### Lec 20: Data Alignment

In [11]:
dframe2 = DataFrame(np.arange(9).reshape((3,3)),columns = list('ADC'), index = ['NYC','SF','LA'])
dframe2

     A  D  C
NYC  0  1  2
SF   3  4  5
LA   6  7  8

In [12]:
dframe1.add(dframe2, fill_value = 0)

       A    B    C    D
LA   8.0  3.0  8.0  7.0
NYC  0.0  1.0  2.0  1.0
SF   3.0  NaN  5.0  4.0

In [13]:
dframe2

     A  D  C
NYC  0  1  2
SF   3  4  5
LA   6  7  8

In [15]:
ser3 = dframe2.iloc[0]
ser3

A    0
D    1
C    2
Name: NYC, dtype: int64

In [17]:
dframe2 - ser3

     A  D  C
NYC  0  0  0
SF   3  3  3
LA   6  6  6

### Lec 21: Rank and Sort

In [18]:
ser1 = Series(range(3), index = ['C','A','B'])

In [19]:
ser1.sort_index()

A    1
B    2
C    0
dtype: int64

In [21]:
#ser1.order() order has been deprecated
ser1.sort_values()

C    0
A    1
B    2
dtype: int64

In [22]:
ser2  = Series(randn(10))
ser2

0   -0.366716
1   -2.531135
2   -0.240778
3   -1.788091
4   -1.383740
5    1.572119
6   -0.355598
7   -1.816714
8   -1.946281
9   -0.795773
dtype: float64

In [27]:
#ser2.sort() deprecated

In [28]:
ser2.rank()

0     7.0
1     1.0
2     9.0
3     4.0
4     5.0
5    10.0
6     8.0
7     3.0
8     2.0
9     6.0
dtype: float64

### Lec 22: Summary Statistics

In [30]:
arr= np.array([[1,2,np.nan],[np.nan,3,4]])

In [31]:
dframe1 = DataFrame(arr, index = ['A','B'], columns = ['One','Two','Three'])
dframe1

   One  Two  Three
A  1.0  2.0    NaN
B  NaN  3.0    4.0

In [32]:
dframe1.idxmin()

One      A
Two      A
Three    B
dtype: object

In [33]:
dframe1.cumsum()

   One  Two  Three
A  1.0  2.0    NaN
B  NaN  5.0    4.0

In [34]:
dframe1.describe()

       One       Two  Three
count  1.0  2.000000    1.0
mean   1.0  2.500000    4.0
std    NaN  0.707107    NaN
min    1.0  2.000000    4.0
25%    1.0  2.250000    4.0
50%    1.0  2.500000    4.0
75%    1.0  2.750000    4.0
max    1.0  3.000000    4.0

### Lec 23: Missing Data

### Lec 24: Index Hierarchy

In [35]:
# Index hierarchy is suitable for building pivot tables, visit it for understanding pivot tables

### Section 5: Working with Data: Part1

### Lec 25: Reading and writing text files